Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.gitignore
.classpath
target-eclipse
target
*.sublime-workspace
Fran.groovy
bin/
WEB-INF/web.xml
*.log
*plantilla*
*ogNohup